<div class="cats-list" *ngIf="cats.length">
  <mat-card *ngFor="let cat of cats">
    <div class="card-img-wrap" style="background-image: url({{cat.url}})">
    </div>
  </mat-card>
</div>
<app-smile *ngIf="!cats.length"></app-smile>
