.cats-list {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
}

.card-img-wrap {
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


