.smileWrapper {
  margin: 15% auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 128px;
    height: 128px;
  }

  p {
    font-size: 24px;
    color: #9E9E9E;
    margin: 30px 0;
  }
}
