<mat-toolbar>
  <span>Cats</span>
</mat-toolbar>
<div class="MainWrapper">
  <div class="container">
    <app-filters (onSelected)="getCatsByBreed($event)" (onClear)="clear()"></app-filters>
    <app-cats-list [data]="cats"></app-cats-list>
  </div>
</div>
