<div class="filters-wrap" [formGroup]="form">
  <mat-form-field>
    <mat-label>Select breed cat</mat-label>
    <mat-select formControlName="breed_ids" (selectionChange)="getCatsByBreed()">
      <mat-option *ngFor="let item of breeds" [value]="item.id">{{ item.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="clear()" [disabled]="!selectedBreed">Clear</button>
</div>
