.filters-wrap {
  margin: 20px 0;
  background: #424242;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}
